extends layout

block content 
	h1= title

	form(method="POST") 
		div
			label Food Name
			input(type="text", name="food_name")

		div.ingredients 
			label Ingredients
			each ingredient of allIngredient 
				p= ingredient

		div
			select(name="is_limited")
				option(value="false") Is this a limited edition
				option(value="true") Yes 
				option(value="false") No

		div
			label Food Price
			input(type="number", step=0.01, name=`food_price`)
		
		div
			label Time Takes 
			input(type="number", min=1, name="time_takes")
		
		button(type="submit") Submit