doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Foodie
	body
		h1 Foodie - Main Page
		div
			a(href="/employee") Employee 
			br
			a(href="/supplier") Supplier 
			br
			a(href="/customer") Customer 
	