doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="images/favicon.svg", type="image/x-icon")
		title Foodie
	
	body
		h1 Foodie - Main Page
		
		div
			a(href="/employee") Employee 
			br
			a(href="/supplier") Supplier 
			br
			a(href="/customer") Customer 
			br
			a(href="/restaurant") Restaurant
			br
			a(href="/menu") Menu
			br
			a(href="/order") Order
			
			br
			a(href="/food") Food
			br
			a(href="/ingredient") Ingredient