extend layout

block content 
	h1= title

	a(href="/menu/add") add  

	each menu of allMenu 
		form(method="post")  
			p= menu
			input(type="hidden", name="menu_id" value=`${menu._id}`)
			button(type="submit") delete this  

			a(href=`/menu/update/${menu._id}`) update