extends layout

block scripts 


block content 
	h1= title

	form(method="POST") 
		
		div
			label Food List
			
			ol 
				each item of menu.FoodAvailable
					- let time = item.TimeTakes
					li #{item.FoodName} - $#{item.FoodPrice} // 
						| #{time < 60 ? time + "sec" : Math.floor(time/60) + "min"}
						button add
		
		button(type="submit") Submit