extends layout.pug 

block content 
	h1= title

	a(href="/supplier/create") add a supplier 
	
	each supplier of allSuppliers
		p= supplier
			a(href=`http://localhost:3000/supplier/delete/${supplier._id}`) Delete

			a(href=`http://localhost:3000/supplier/update/${supplier._id}`) Update