extend layout

block content
	h1=title

	div 
		h2 Are you sure you want to delete #{supplier.SupplierName}?

	form(method="POST")
		a(href="http://localhost:3000/supplier") No
		button(type="submit") Yes
