
.order-header {
	display: flex;
	justify-content: space-around;
	width: 50vw;

	margin: auto;


	border-bottom: 1px solid black;
	margin-bottom: 1vw;
}

.order-header > div {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 10vw;
	height: 5vw;

	border: 1px solid #aaaaaa;
	border-radius: 16px;

	text-align: center;
	margin: 1vw 0;

	font-size: 1vw;

	background-color: white;
}

.order-cart {
	display: grid;
	grid-template-columns: 45vw 25vw;	
	width: 70vw;
	margin: 0 auto;

	background-color: #eee;
}

.order-cart > div:first-child {
	border-right: 1px solid #aaaaaa;
}

.cart-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vw;
	padding: 1vw 0;
}

.cart-item {
	width: 28vw;
	height: 7vw;
	background-color: white;

	padding: 0 1vw;

	border: 1px solid #bebebe;
	border-radius: 16px;

	display: flex;
	justify-content: space-between;
}

.rightie-cart-item {
	display: flex;
	align-items: center;

}

.rightie-cart-item > button {
	background-color: black;
	color: white;
	border: none;

	width: 1.8vw;
	height: 2vw;
}

.rightie-cart-item > button:active{
	background-color: white;
	color: black;
	border: 1px solid black;
}

.rightie-cart-item > button:nth-child(n+1) {
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}

.rightie-cart-item > button:nth-child(1){
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.rightie-cart-item > p {
	background-color: black;
	color: white;
	border: none;

	width: 2vw;
	height: 2vw;

	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;

}

/*****************************/
.cart-sidebar{
	background-color: white;
	border-radius: 16px;

	padding: 1vw;

	margin: 1vw auto;

	width: 16vw;
	height: 29vw;

	-webkit-box-shadow: 0px 0px 22px -6px #ebebeb;
	-moz-box-shadow: 0px 0px 22px -6px #ebebeb;
	box-shadow: 0px 0px 22px -6px #ebebeb;
}

.cart-sidebar > div > h2 {
	margin: 0;
	margin-bottom: 1vw;

}

.cart-sidebar > div {
	display: flex;
	flex-direction: column;

	justify-content: space-between;
}

.cart-sidebar > div > p {
	margin: 0;
	margin-bottom: 0.5vw;
}

/***************************************/

.proceed-button {	
	width: 16.8vw;
	height: 3.3vw;

	margin: 0 auto;
	
	position: relative;
}

/***************************************/