div > div {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 10vw;
}

div > div > div {
	display: flex;
	flex-direction: row;
	gap: 4vw;
	
	margin: 0;
}

button {
	width: 7vw;
	height: 3vw;
	border-radius: 16px;
	border: none;
}

button:hover {
	background-color: rgb(159, 100, 237);
	color: white;
}

button:active {
	background-color: #6f4aa0;
}