.trophy-container {
	width: 45vw;

	border: 1px solid #e6e6e6;
	border-radius: 16px;

	background-color: #fafafa;

	margin: 0 auto;
	margin-bottom: 20vw;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.trophy-container > img {
	margin-top: 1vw;

	height: 15vw;
	width: 10vw;
}

.trophy-container > h2 {
	font-size: 1.6vw;
	margin: 0;
}

.email-button {
	height: 4vw;
	width: 14vw;

	border: 1px solid #c4c4c4;
	border-radius: 16px;

	background-color: #FFFBEC;

	font-size: 24px;

	margin-top: 4vw;
	margin-bottom: 1vw;
}

.email-button:hover {
	background-color: #ffefb5;
}

.email-button:active {
	background-color: white;
}