footer {
	background-color: #000000;
	color: white;
}

/************************/
.services {
	display: flex;
	justify-content: center;
	gap: 2vw;

	margin: 2vw 0;
}

.square {
	width: 10vw;
	height: 10vw;
	border-radius: 16px;
	background-color: #dadada;

	display: flex;
	justify-content: center;
	align-items: center;
}

.square > img {
	width: 7vw;
	height: 7vw;
}

.descrip {
	width: 12vw;
}

/************************/

.testimonials {
	display: grid;
	grid-template-columns: repeat(3, 20vw);
	justify-content: center;
	gap: 5vw;
}

.testimonials > div {
	display: flex;
	flex-direction: column;
	width: 21vw;
}

.testimonial {
	width: 20vw;
	height: 11.5vw;
	font-size: 0.8vw;

	padding: 1vw;
	
	border-radius: 16px;

	background-color: black;
	color: white;
}

.toppie {
	display: flex;
	align-items: center;
	gap: 1vw;
}

.toppie h4 {
	margin: 0;
	font-size: 1vw;
}

.profile-picture {
	border-radius: 50%;
	width: 3vw;
	height: 3vw;

	background-color: #bebebe;
}


/************************/
.powered {
	text-align: center;
}

.powered > div {
	display: flex;
	justify-content: center;
	gap: 5vw;
}

.powered > div > div {
	border-radius: 36px;
	padding: 4vw;
}

.powered img {
	width: 10vw;
	height: 10vw;
}

/************************/
.mozaic {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 5vw 0;
}

.mozaic > div {
	border-radius: 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-box-shadow: 0px 0px 16px 2px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px 0px 16px 2px rgba(194,194,194,0.5);
	box-shadow: 0px 0px 16px 2px rgba(194,194,194,0.5);
}

.mozaic > div:nth-child(1){
	width: 16vw;
	height: 26vw;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.mozaic > div:nth-child(2){
	width: 16vw;
	height: 20.5vw;
}

.mozaic > div:nth-child(3){
	width: 16vw;
	height: 28.125vw;
}

.mozaic > div:nth-child(4){
	width: 16vw;
	height: 20.5vw;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/************************/

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.white-box {
	border: 2px solid #bebebe;
	border-radius: 16px;
	padding: 1vw 2vw;
	
	margin: 2vw 0;
	margin-left: 10vw;

	display: flex;
	flex-direction: column;
	gap: 2vw;
}


.white-box > div {
	display: flex;
	align-items: center;
	gap: 2vw;

	background-color: #2B2B2B;

	padding: 1vw;
	border-radius: 16px;
}

.just-links {
	display: flex;	
	align-items: center;
	gap: 5vw;

	margin-right: 10vw;
	color: #B4B4B4;

}

.just-links h3 {
	color: white;
}

.footer-footer {
	margin: 0 10vw;
	padding: 1vw;
	text-align: center;

	border-top: 1px solid #2B2B2B;
}